<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.richsnippets</string>
	<key>connections</key>
	<dict>
		<key>103181A6-F34B-4F6E-9779-F1564458C454</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F60E73-A380-4B55-89C5-6383DEE12113</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FFFC8A35-378D-4AA7-813A-FC84C54E1705</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1826A3F0-05F6-4F42-BABC-B2BCA8DAB922</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1826A3F0-05F6-4F42-BABC-B2BCA8DAB922</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D990C7F6-478D-40B1-879A-95B11EACCDCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>381C078B-B3ED-4BAA-B7B0-D8E4B72906D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB81B057-1383-4C7C-AEE1-F3199A06CF8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56B21847-65F2-4AD6-873D-3A9AFA8F0DE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61B68BAF-EF0F-46C5-B56D-FD1EFDA9C30C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5930BA09-CB2F-4282-B609-A6935AFDAFAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56B21847-65F2-4AD6-873D-3A9AFA8F0DE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A38CC2A-D548-4D62-BDC4-8FA9E78A7EFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1EFD422-C17F-4C0E-B10E-36C4B3DE1852</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61B68BAF-EF0F-46C5-B56D-FD1EFDA9C30C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>860600EA-8A0B-4096-8B7F-A35FC841FA37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68BD65AD-EA70-4FB8-A87A-C629EAD9B38B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34E54BBB-A0E8-4DFC-9DCB-00FA36AEFCB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69F60E73-A380-4B55-89C5-6383DEE12113</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6F626C4-C743-4ECD-9B09-699CF1213B72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D5BCAA7-CADA-485A-A51C-4CD7380C1E54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BD65AD-EA70-4FB8-A87A-C629EAD9B38B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>860600EA-8A0B-4096-8B7F-A35FC841FA37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>381C078B-B3ED-4BAA-B7B0-D8E4B72906D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6F626C4-C743-4ECD-9B09-699CF1213B72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D990C7F6-478D-40B1-879A-95B11EACCDCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9DEFD32-B115-464D-BF1B-A95C10433C9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90AE939E-C376-46AD-8BBC-CDF41723ACE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FFFC8A35-378D-4AA7-813A-FC84C54E1705</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6C7C2EE-1C74-4744-81A2-3282F52C4F83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1EFD422-C17F-4C0E-B10E-36C4B3DE1852</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEDB4CB5-6FDA-4B84-9F5B-09AD87E95A49</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Send to Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEDB4CB5-6FDA-4B84-9F5B-09AD87E95A49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>103181A6-F34B-4F6E-9779-F1564458C454</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D007BDF6-1B00-4C96-B35F-BD8070CE6B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A38CC2A-D548-4D62-BDC4-8FA9E78A7EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1EFD422-C17F-4C0E-B10E-36C4B3DE1852</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9DEFD32-B115-464D-BF1B-A95C10433C9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D990C7F6-478D-40B1-879A-95B11EACCDCA</key>
		<array/>
		<key>DFB15685-93AA-4A09-B7ED-A76F6E6F4905</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6C7C2EE-1C74-4744-81A2-3282F52C4F83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Save and search rich snippets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rich Snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5930BA09-CB2F-4282-B609-A6935AFDAFAA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/mv "${1}" "${snippet_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB81B057-1383-4C7C-AEE1-F3199A06CF8F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_export}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking if file exists…</string>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run(argv) {
  const fileName = argv[0]
  const filePath = `${envVar("snippets_folder")}/${fileName}.alfredclipboardblob`

  if ($.NSFileManager.defaultManager.fileExistsAtPath(filePath)) return JSON.stringify({ items: [{
    title: "Snippet Exists!",
    subtitle: "Pick a different name",
    valid: false
  }]})

  return JSON.stringify({ items: [{
    title: "Name Your Snippet",
    subtitle: `Your current Clipboard content will be saved as "${fileName}"`,
    arg: filePath
  }]})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Your current Clipboard content will be saved as "{query}"</string>
				<key>title</key>
				<string>Name Your Snippet</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56B21847-65F2-4AD6-873D-3A9AFA8F0DE6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:snippets_folder}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>860600EA-8A0B-4096-8B7F-A35FC841FA37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>overwrite</key>
					<true/>
					<key>save_in</key>
					<string>/private/tmp</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/clipboard.export</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>381C078B-B3ED-4BAA-B7B0-D8E4B72906D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>snippet_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>61B68BAF-EF0F-46C5-B56D-FD1EFDA9C30C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>restore_snippet</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D007BDF6-1B00-4C96-B35F-BD8070CE6B6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:snippets_folder}/{query}.alfredclipboardblob</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5A38CC2A-D548-4D62-BDC4-8FA9E78A7EFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/clipboard.import</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D1EFD422-C17F-4C0E-B10E-36C4B3DE1852</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DFB15685-93AA-4A09-B7ED-A76F6E6F4905</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword_import}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking available files…</string>
				<key>script</key>
				<string>// Helpers
function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function modifiedDate(path) {
  return $.NSFileManager.defaultManager
    .attributesOfItemAtPathError(path, undefined)
    .js["NSFileModificationDate"].js
    .getTime()
}

function findBlobs(path) {
  try {
    return $.NSFileManager.defaultManager.contentsOfDirectoryAtURLIncludingPropertiesForKeysOptionsError(
      $.NSURL.fileURLWithPath(path),
      undefined,
      $.NSDirectoryEnumerationSkipsHiddenFiles, undefined
    ).js
      .map(p =&gt; p.path.js)
      .filter(p =&gt; $(p).pathExtension.js === "alfredclipboardblob")
      .sort((a, b) =&gt; modifiedDate(b) - modifiedDate(a))
  } catch {
    return []
  }
}

// Main
function run() {
  const sfItems = findBlobs(envVar("snippets_folder")).map(blobPath =&gt; ({
    title: $(blobPath).stringByDeletingPathExtension.lastPathComponent.js,
    type: "file",
    arg: blobPath
  }))

  if (sfItems.length === 0) return JSON.stringify({ items: [{
    title: "No Snippets Found",
    subtitle: `Save some with "${envVar('keyword_export')}"`,
    valid: false
  }]})

  return JSON.stringify({ items: sfItems })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>↩ Paste snippet · ⌘↩ Delete snippet</string>
				<key>title</key>
				<string>Search Your Saved Rich Snippets</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6C7C2EE-1C74-4744-81A2-3282F52C4F83</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>90AE939E-C376-46AD-8BBC-CDF41723ACE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:auto_paste}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Auto-paste</string>
						<key>uid</key>
						<string>FFFC8A35-378D-4AA7-813A-FC84C54E1705</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A9DEFD32-B115-464D-BF1B-A95C10433C9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>no_extension</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.basename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>69F60E73-A380-4B55-89C5-6383DEE12113</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Delete</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Do you want to trash “{query}”?</string>
				<key>title</key>
				<string>Delete Snippet?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>A6F626C4-C743-4ECD-9B09-699CF1213B72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:delete_confirmation}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Ask</string>
						<key>uid</key>
						<string>FFFC8A35-378D-4AA7-813A-FC84C54E1705</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Delete</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>103181A6-F34B-4F6E-9779-F1564458C454</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>snippet_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEDB4CB5-6FDA-4B84-9F5B-09AD87E95A49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:snippet_file}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D990C7F6-478D-40B1-879A-95B11EACCDCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1826A3F0-05F6-4F42-BABC-B2BCA8DAB922</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>7D5BCAA7-CADA-485A-A51C-4CD7380C1E54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>restore_snippet</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>com.alfredapp.vitor.richsnippets</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>34E54BBB-A0E8-4DFC-9DCB-00FA36AEFCB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Replace this text with your rich snippet’s name</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>68BD65AD-EA70-4FB8-A87A-C629EAD9B38B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Copy rich text, images, and other special data from the clipboard with the `richsave` keyword followed by your snippet name.

![Saving rich data to the clipboard](images/about/save.png)

Restore a snippet to the clipboard and paste it to the frontmost app with the `richsnip` keyword. Use &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to delete a snippet.

![Restoring rich data from the clipboard](images/about/restore.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering.

### Triggering Like Regular Snippets

You can paste rich snippets like the others by creating a new workflow with a [Snippet Trigger](https://www.alfredapp.com/help/workflows/triggers/snippet/). Connect it to an [Arg and Vars Utility](https://www.alfredapp.com/help/workflows/utilities/argument/) with the name of the snippet as the Argument. Finally, connect it to a [Call External Trigger Output](https://www.alfredapp.com/help/workflows/outputs/call-external-trigger/) referencing `restore_snippet` in this workflow.

There is an example you can copy at the bottom of the Workflow canvas.

![Example for using a snippet trigger](images/about/example.png)</string>
	<key>uidata</key>
	<dict>
		<key>103181A6-F34B-4F6E-9779-F1564458C454</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>1826A3F0-05F6-4F42-BABC-B2BCA8DAB922</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>34E54BBB-A0E8-4DFC-9DCB-00FA36AEFCB9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Leave as is</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>381C078B-B3ED-4BAA-B7B0-D8E4B72906D2</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>56B21847-65F2-4AD6-873D-3A9AFA8F0DE6</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5930BA09-CB2F-4282-B609-A6935AFDAFAA</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5A38CC2A-D548-4D62-BDC4-8FA9E78A7EFA</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>61B68BAF-EF0F-46C5-B56D-FD1EFDA9C30C</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>68BD65AD-EA70-4FB8-A87A-C629EAD9B38B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Edit and replace the Argument with the name of your rich saved snippet</string>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>69F60E73-A380-4B55-89C5-6383DEE12113</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>7D5BCAA7-CADA-485A-A51C-4CD7380C1E54</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Edit to set the keyword for the snippet</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>860600EA-8A0B-4096-8B7F-A35FC841FA37</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>90AE939E-C376-46AD-8BBC-CDF41723ACE2</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>A6F626C4-C743-4ECD-9B09-699CF1213B72</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>A9DEFD32-B115-464D-BF1B-A95C10433C9B</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>B6C7C2EE-1C74-4744-81A2-3282F52C4F83</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>CEDB4CB5-6FDA-4B84-9F5B-09AD87E95A49</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>D007BDF6-1B00-4C96-B35F-BD8070CE6B6D</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D1EFD422-C17F-4C0E-B10E-36C4B3DE1852</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>D990C7F6-478D-40B1-879A-95B11EACCDCA</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>DFB15685-93AA-4A09-B7ED-A76F6E6F4905</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>EB81B057-1383-4C7C-AEE1-F3199A06CF8F</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>richsave</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Save Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_export</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>richsnip</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Paste Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_import</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Auto-paste on return</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Pasting</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>auto_paste</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Ask for confimation when trashing snippet</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Deleting</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>delete_confirmation</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/Alfred/Workflow Data/com.alfredapp.vitor.richsnippets</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippets Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>snippets_folder</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.0</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/rich-snippets-workflow/</string>
</dict>
</plist>
